.clients {
    /* background: rgba(255, 255, 255, 0.8); */
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.client {
    width: 320px;
    min-height: 150px;
    color: rgba(255, 255, 255, 0.9);
}

.client-detail {
    color:rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 50px 5px rgba(0,0,0,.25);
    width: 100%;
    height: 100%;
    padding: 1rem .5rem 1rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.client-detail-stats {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.client-detail-stats-messages {
    background: rgba(0,0,0,0.05);
    padding: 1rem;
    min-width:320px;
    
    text-align: left;
    
}
.client-detail-stats-messages-inner {
    overflow-y:scroll;
    height: 360px;
}
.client-detail-stats-messages-inner span {
    display: block;
}

.clients h3 {
    font-size: 1.2rem;
    margin: 0;
}

.card {
    box-shadow: 0 0 50px 5px rgba(0,0,0,.25);
    padding: 3rem;
    margin: 0 1.5rem 3rem 1.5rem;
    border-bottom:inset 10px rgba(82, 255, 3, 0.9);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card:hover {
    cursor:pointer;
    background: rgba(0,0,0,0.2);
    border-bottom:inset 10px rgba(0, 60, 255, 0.9);
}