.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stats {
    box-shadow: 0 0 50px 5px rgba(0,0,0,.25);
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
}