.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
  margin-left: 1rem;
}

.App-intro {
  font-size: large;
}
