@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(to right bottom, rgb(0, 34, 68), rgb(68, 0, 34)) no-repeat center center fixed;
}

.container {
  padding: 1rem;
}

a {
  color:white;
  text-decoration: none;
}
